<app-top-toolbar></app-top-toolbar>

<ion-header>
  <ion-toolbar class="kickBg">
    <ion-title class="icon whiteSmoke">Green Map</ion-title>
    <ion-buttons slot="start">
      <ion-button disabled="false" color="warning" autoHide='false' routerLink="/vote">
        <ion-icon name="heart-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button disabled="false" color="warning" autoHide='false' (click)="logout()">
        <ion-icon class="settingBtn" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="noScroll">
  <div class="map match-parent" id="map"></div>
</ion-content>